<!DOCTYPE html>
<html>
    <head>
    
        <meta charset="utf-8">
        <title>Login</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            .google-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                background: #ff5353;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <li><a href="/profile">Profile</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                
            </ul>
        </nav>
        <header>
            <h1>Login using...</h1>
        </header>
        <main>
            <a class="google-btn" href="/auth/google">Google+</a>

            <a class="google-btn" href="/auth/bigcommerce">bigcommerce</a>
        
         <p>Auth API Test</p>
         <form action=
         "/auth/bigcommerce" method="POST">
        <div class="auth--form form--fancy"><fieldset class="white">
        <form _lpchecked="1">
        <div class="form--fancy-wrapper"><div class="form--fancy   invalid ">
        <input type="text" name="email" required="" autocapitalize="none" value="">
        <label>Enter Email*</label></div><div class="form--fancy   invalid ">
        <input type="password" name="password" required="" value="" 
        <label>Enter Password*</label></div></div>
        
        <div class="auth--form">
        <p></p></div><div class="auth--form-wrapper">
        <div class="auth--form-col">
        <button type="submit" disabled="" class="btn btn--black">Log In</button>
        </div><div class="auth--form-wrapper-flex">
        <div class="auth--form-col">
        <div class=" checkbox form--fancy checked"><label>
        <input type="checkbox" name="remember" data-checked="true" value="on">
        <span>Remember me?<svg width="16px" height="12px" viewBox="5 7 16 12" version="1.1">
        </svg></span></label></div></div><div class="auth--form-col">
        <a class="small" href="forgot-password">Forgot password?</a></div></div></div>
        </form>
        </main>
    </body>
</html>